#slideshow {
    text-align: center;
}

#wrap {
    overflow: hidden;
}

#slider {
    position: relative;
    left: 0;
    width: 520px;
    height: 360px;
    object-fit: cover;
    transition: all 0.5s;
    opacity: 1;
}

.mini {
    width: 80px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
}

.fade {
    opacity: 0 !important;
}

.go {
    opacity: 0 !important;
    left: 520px !important;
}